:root {
	--color-back-main: 67, 67, 67;
	--font-bebas: 'Bebas Neue', sans-serif;
	--accent-color: 23, 23, 23;
	--accent-hover-color: 18, 18, 18;
	--text-main-color: 248, 248, 255;
	--text-url-color: 240, 240, 247;
	--color-info: 8, 145, 17;
	--color-error: 220, 38, 38;
	--color-warn: 234, 88, 12;
	--color-neutral: 115, 115, 115;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	width: 100dvw;
}

body {
	background-image: url(/resources/background.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: rgb(var(--text-main-color)) !important;
}

svg {
	fill: rgb(var(--text-main-color));
	color: rgb(var(--text-main-color));
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: rgb(var(--text-url-color));
}
