DATABASE_URL=string
SMTP_API_KEY=string
PORT=number
SMTP_HOST=url
SMTP_USER=string
SMTP_EMAIL=email
JWT_SECRET=string
AVATARS_PUBLIC_DIR_PATH=path ./abc
PUBLIC_DIR_PATH=path ./abc
DISCORD_CLIENT_ID=number
DISCORD_CLIENT_SECRET=string
AMQP_URL=url amqp://
DISCORD_REDIRECT_URL=url
SMTP_PORT=port