*.log
*.suo
*.tsbuildinfo
*.user
**/.env
**/.nuxt
**/.output
**/.turbo
**/appsettings.Development.json
**/appsettings.Local.json
**/bin
**/dist
**/generated
**/migrations
**/node_modules
**/obj
**/prod.env
*.sln.DotSettings.user
.DS_Store
.idea
.vs
npm-debug.log*
pnpm-debug.log*
Thumbs.db