:root {
	--color-back-main: rgb(67, 67, 67);
	--font-bebas: 'Bebas Neue', sans-serif;
	--text-main-color: rgb(248, 248, 255);
	--color-info: rgb(8, 145, 178);
	--color-error: rgb(220, 38, 38);
	--color-warn: rgb(234, 88, 12);
	--color-neutral: rgb(115, 115, 115);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(/resources/background.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	min-height: 100dvh;
	color: var(--text-main-color);
}

svg {
	fill: var(--text-main-color);
	color: var(--text-main-color);
}

ul {
	padding: 0;
	margin: 0;
}
